.Header {
  display: inline-block;
  background-color: #002579;
  width: 100%;
}

.Header select {
  color: white;
  border: none;
  background-color: #002579;
}

.navHeader {
  background-color: #002579; 
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.Menu {
  display: inline-block;
  background-color: white;
  width: 100%;
}

.navHeader li {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.navMenu {
  background-color: white; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.navMenu li {
  display: inline-block;
  font-size: 14px;
  padding: 20px;
}

.navSubHeader {
  background-color: white; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.navSubHeader li {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.Logo {
  font-weight: bold;
  font-size: 25px;
  padding-left: 20px;
}

.navSearch {
  background-color: white; 
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding-left: 730px;
}

.navSearch li {
  display: inline-block;
  font-size: 14px;
}

.svgSearch {
  padding-right: 10px;
  font-weight: bold;
}

footer {
  background-color: #010822;
  color: white;
  text-align: left;
}

.footerLogo {
  font-weight: bold;
  font-size: 25px;
}

.col-40 {
  text-align: left;
  width: 40%;
  padding-left: 5px;
}

.col-20 {
  text-align: left;
  width: 20%;
  padding-left: 5px;
}

.contactButton {
  border-radius: 20px;
  padding: 10px;
}

.navFooter {
  background-color: #010822; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 20px;
}

.navFooter li {
  display: inline-block;
  font-size: 14px;
}

.navCus {
  background-color: #010822; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 20px;
}

.navCus li {
  display: block;
  font-size: 14px;
}

.navCard {
  background-color: #010822; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 20px;
}

.navCard li {
  display: block;
  font-size: 14px;
}

.navLocation {
  background-color: #010822; 
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 20px;
}

.navLocation li {
  display: block;
  font-size: 14px;
}

.navProductList {
  background-color: white; 
  list-style-type: none;
  text-align: center;
  margin: 10px;
  padding: 50px;
}

.navProductList li {
  display: inline-block;
  font-size: 14px;
}

.navProductList a {
  color: black;
  text-decoration: none;
}

#country, #lang, #shipping, #service {
  padding-left: 5px;
}

.svg-inline--fa {
  padding-right: 5px;
}

.heartIcon {
  color: red;
  font-size: large;
}

.userIcon, .shoppingIcon {
  font-size: large;
}

.Menu li a {
  text-decoration: none;
  color: black;
}

.productAd {
  background-color: #EFF0F2;
  padding: 20px;
  margin: 40px;
}

.prdAdContent {
  font-weight: 800;
  font-size: 50px;
}

.imgAd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.leftAd {
  background-color: #EFF0F2;
  text-align: center;
  width: 51%;
  float: left;
  height: 460px;
  margin-left: -20px;
}

.rightAd {
  background-color: #EFF0F2;
  width: 51%;
  float: right;
  height: 460px;
  margin-left: -20px;
}

.productAd button {
  margin-left: 20px;
  padding: 5px;
  border-radius: 4px;
  border-width: 1px;
  color: #6076AA;
}

.productAd button:hover {
  color: #fff;
  background-color: #A92579;
}

.Menu button {
  text-decoration: none;
  border: none;
  background-color: #fff;
}

.Menu button:hover {
  color: #fff;
  background-color: #A92579;
}

.locationDrop {
  border: none;
  color: #fff;
  background-color: #010822;
}

.offerZoneList {
  background-color: #FCEFE8; 
  list-style-type: none;
  text-align: left;
  margin: 450px 40px 40px 40px;
  padding: 10px;
  overflow-x: hidden;
}

.offerZoneList li {
  display: inline-block;
  font-size: 14px;
  width: 25%;
}

.offerZone img {
  height: 100px;
  width: 100px;
  padding-left: 20px;
}

.navFooter button:hover {
  background-color: #A92579;
  color: #fff;
}